<div
    id="{{ 'itemMenu' + configuracionItem.idInterno }}"
    [ngClass]="obtenerItemClases()"
    (press)="eventoClickLargo()"
>
    <div
        [ngClass]="obtenerClasesItemCaja()"
    >
        <div class="contenedor-texto">
            <!-- ITEM PARA PERFIL CREATE, TIPO, PROFILE-->
            <div
                class="main"
                [ngSwitch]="configuracionItem.tipoMenu"
            >
                <div
                    class="second" 
                    *ngSwitchCase="tipoMenu.GESTION_PROFILE"
                >
                    <p 
                        [ngClass]="estiloTexto1()"
                    >
                        {{ texto1 | async }}
                    </p>
                    <div class="espacioPalabra"></div>
                    <p
                        [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L7_IGUAL 
                        })"
                    >
                        {{ texto2 | async }}
                    </p>
                    <div class="espacioPalabra"></div>
                    <p 
                        [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                        })"
                    >
                        {{ texto3 | async }}
                    </p>
                </div>
                <div
                    class="second"
                    *ngSwitchCase="tipoMenu.ACCION"
                >
                    <p 
                        [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L7_IGUAL
                        })"
                    >
                        {{configuracionItem.texto1}}
                    </p>
                </div>
                <div
                    class="second"
                    *ngSwitchCase="tipoMenu.ANUNCIOS"
                >
                    <p 
                        [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                        })"
                    >
                        {{configuracionItem.texto1}}
                    </p>
                </div>
                <div
                    class="second"
                    *ngSwitchCase="tipoMenu.INSTRUCCIONES"
                >
                    <p 
                        *ngIf="configuracionItem.texto1"
                        [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL 
                        })"
                    >
                        {{ texto1 | async }}
                    </p>
                    <div
                        *ngIf="configuracionItem.texto1"
                        class="instruccion-separacion"
                    ></div>
                    <p
                        [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })"
                    >
                        {{ texto2 | async }}
                    </p>
                    <div class="instruccion-separacion-min"></div>
                    <p
                        [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE, 
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })"
                    >
                        {{ texto3 | async }}
                    </p>
                </div>
                <div
                    class="second"
                    *ngSwitchCase="tipoMenu.SUBMENU"
                >
                    <div class="boton-puntos"></div>
                </div>
            </div>
        </div>

        <div 
            *ngIf="configuracionItem.descripcion || configuracionItem.submenus"
            class="centrar contener-descripcion"
        >
            <div
                class="flecha"
                id="{{ 'flecha' + configuracionItem.idInterno }}"
            ></div>
            <div
                *ngIf="configuracionItem.mostrarDescripcion"
                class="grupo-texto-descripcion"
            >
                <p
                    *ngFor="let item of configuracionItem.descripcion"
                    [ngClass]="obtenerClasesLineasTexto(item)"
                    class="separacion-texto"
                >
                    {{ item.texto }}
                </p>
                <p
                    *ngFor="let item of configuracionItem.submenus"
                    [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                        color: estiloTexto.colorDelTexto.TEXTO_COLOR_PLATEADO, 
                        estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL 
                    })"
                    class="texto-submenu test"
                >
                    {{ item.titulo }}
                </p>
            </div>
        </div>
    </div>
    <app-linea
        *ngIf="configuracionItem.linea.mostrar"
        [configuracionLinea]="configuracionItem.linea.configuracion"
    ></app-linea>
</div>