@import 'colores.scss';
// Color de texto
.txt-blanco {
    color: $blanco;
}
.txt-negro {
    color: $negro;
}
.txt-amarillo-base {
    color: $amarillo-base;
}
.txt-rojo-base {
    color: $rojo-base;
}
.txt-verde-base {
    color: $verde-base;
}
.txt-azul-base {
    color: $azul-base;
}
.txt-azul-claro {
    color: $azul-claro;
}
.txt-btn-history {
    color: $txt-btn-history;
}
.txt-btn-blanco {
    color: $txt-btn-blanco;
}
.txt-celeste {
    color: $txt-celeste;
}
.txt-lacre {
    color: $txt-lacre;
}
.titulo-fecha {
    color: $titulo-fecha;
}
.error-formulario {
    color: $error-formulario;
}
.txt-color-plateado {
    color: $plateado;
}
.txt-color-azul-hibernate{
    color:$hibernate;
}

.comentario-uno {
    color: $comentario-uno;
}
.comentario-dos {
    color: $comentario-dos;
}
.comentario-tres {
    color: $comentario-tres;
}
.comentario-cuatro {
    color: $comentario-cuatro;
}
.comentario-cinco {
    color: $comentario-cinco;
}
.comentario-seis {
    color: $comentario-seis;
}
.comentario-siete {
    color: $comentario-siete;
}

// Colores de fondo
.input-fondo {
    background-color: $input-fondo;
}
.tranparencia-base {
    background-color: $tranparencia-base;
}
.perfil-creado {
    background-color: $perfil-creado;
}
.perfil-hibernado {
    background-color: $perfil-hibernado;
}
.opacidad-cuadro-foto {
    background-color: $opacidad-cuadro-foto;
}
.btn-flecha-lacre {
    background-color: $btn-flecha-lacre;
}
.btn-flecha-verde {
    background-color: $btn-flecha-verde;
}
.btn-flecha-amarillo {
    background-color: $btn-flecha-amarillo;
}

// opacidad en fotos
.capa-opacidad-a {
    background: $capa-opacidad-a;
}
.capa-opacidad-b {
    background: $capa-opacidad-b;
}
.capa-opacidad-c {
    background: $capa-opacidad-c;
}
