$path-fondos: "/assets/recursos/fondos/";
$path-botones: "/assets/recursos/botones/";

// Botones
$forma-boton: url("#{$path-botones}forma-boton.svg");
$forma-boton-letra-4-23: url("#{$path-botones}forma-boton-letra-4-23.svg");
$forma-boton-letra-4-93: url("#{$path-botones}forma-boton-letra-4-93.svg");
$forma-boton-letra-5-51: url("#{$path-botones}forma-boton-letra-5-51.svg");
$forma-boton-yes-no: url("#{$path-botones}forma-boton-yes-no.svg");
$forma-boton-ok-no: url("#{$path-botones}forma-boton-ok-no.svg");
$forma-flecha-ampliar-foto: url("#{$path-botones}forma-flecha-ampliar-foto.svg");
$forma-flecha-reducir-foto: url("#{$path-botones}forma-flecha-reducir-foto.svg");
$forma-flecha-back: url("#{$path-botones}forma-flecha-back.png");
$forma-flecha-circular-amarilla: url("#{$path-botones}forma-flecha-circular-amarilla.svg");
$forma-flecha-circular-azul: url("#{$path-botones}forma-flecha-circular-azul.svg");
$forma-flecha-verde-desplegable: url("#{$path-botones}forma-flecha-verde-desplegable.svg");
$forma-icono-editarr-texto: url("#{$path-botones}forma-icono-editar-texto.svg");
$forma-lupa: url("#{$path-botones}forma-lupa.svg");
$forma-tres-puntos-grises: url("#{$path-botones}forma-tres-puntos-grises.svg");
$forma-x-blanca: url("#{$path-botones}forma-x-blanca.svg");
$forma-x-roja: url("#{$path-botones}forma-x-roja.svg");
$forma-pago-bitcoin: url("#{$path-botones}pago-bitcoin.svg");
$forma-pago-paypal: url("#{$path-botones}pago-paypal.svg");
$forma-pago-tarjetas: url("#{$path-botones}pago-tarjetas.svg");
$forma-pago-transferencia: url("#{$path-botones}pago-transferencia.svg");
$forma-boton-girar-camara: url("#{$path-botones}forma-boton-girar-camara.svg");
$forma-boton-girar-camara-blanco: url("#{$path-botones}forma-boton-girar-camara-blanco.svg");
$forma-boton-cerrar-camara-blanco: url("#{$path-botones}forma-boton-cancelar.svg");
$forma-boton-done: url("#{$path-botones}forma-boton-done.svg");

// Fondos
$fondo-estrellas-cortado: url("#{$path-fondos}fondo-estrellas-cortado.svg");
$fondo-estrellas-completo: url("#{$path-fondos}fondo-estrellas-completo.svg");
$forma-amarilla-pensamientos: url("#{$path-fondos}forma-amarilla-pensamientos.svg");
$forma-amarilla-pensamientos-login: url("#{$path-fondos}forma-amarilla-pensamientos-login.svg");
$forma-equina-album: url("#{$path-fondos}forma-esquinas-fotos-album.svg");
$fondo-mundo: url("#{$path-fondos}forma-mundo.svg");
$forma-roja-pensamientos: url("#{$path-fondos}forma-roja-pensamientos.svg");
$portada-gaze-completa: url("#{$path-fondos}portada-gaze-completa.svg");
$portada-gaze-mitad: url("#{$path-fondos}portada-gaze-mitad.png");


