@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$espedor-borde-normal: calcular(0.71);
$diametro-item-normal: calcular(29.01);

$espedor-borde-grande: calcular(0.96);
$diametro-item-grande: calcular(38.53);

.itemCirculo {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;
    background: $blanco;
    touch-action: auto;
}

.itemCirculo.contacto {
    width: $diametro-item-normal;
    height: $diametro-item-normal;
    color: aqua;
    border: $espedor-borde-normal solid $rojo-base;
}


// Capas
.capa {
    display: none;    
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
}

.capa.mostrar {
    display: flex;
}