@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.listaScroll {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    overflow-x: hidden;
    overflow-y: auto;
    width: $ancho-6920;
}
.listaScrollPensamientoGestionar {
    height: calcular(131.8643) - calcular(6.84) - (calcular(131.8643) - calcular(87.85) + calcular(6.84)) - $letra-3 -
        ($espacio-0316 * 2) - ($letra-1 * 2) - ($interlineado-1 * 2) - $interlineado-2 - calcular(0.78);
    overflow-y: auto;
    //    word-break: break-all;
}

.listaScrollMenuPrincipal {
    height: calc(100vh - #{$appbar-alto-default} - #{$portada-gaze-alto-completo}) !important;
    overflow-y: auto;
    width: $ancho-6920;
}
.reintentar{
    width:100%
}
.fondoLista {
    background-color: $tranparencia-base;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.buscador {
    background-color: transparent;
    height: calc(100vh - #{$alto-barra-busqueda + $espacio-267 + $espacio-326 + ($espesor-borde-barra-buscar * 2)});
    width: $ancho-pagina;
}

.centralItems {
    display: flex;
    align-items: center;
    justify-content: center;
}
