@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.listaScroll {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    overflow-x: hidden;
    overflow-y: auto;
    width: $ancho-6920;
}
.listaScrollPensamientoGestionar {
    //height: calcular(87.85) - (calcular(6.84)*2) - $interlineado-2 - $espacio-0316 - $espacio-0316 - $letra-3 - $letra-1 - $letra-1;
    height: calcular(131.8643) - calcular(6.84) - (calcular(131.8643) - calcular(87.85) + calcular(6.84)) - $letra-3 - ($espacio-0316*2) - ($letra-1*2) - ($interlineado-1*2) - $interlineado-2 - calcular(0.78);
    overflow-y: auto;
    //width: $ancho-pagina - (($espacio-0658 + $espacio-267)*2);
    //width: calcular(131.8643)-($espacio-267 + calcular(0.78))- ($espacio-267 + calcular(0.78)+ $espacio-0658);    
}

.listaScrollMenuPrincipal {
    height: calc(100vh - #{$appbar-alto-default} - #{$portada-gaze-alto-completo}) !important;
    overflow-y: auto;
    width: $ancho-6920;
}

.fondoLista {
    background-color: $tranparencia-base;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
