<!--<div (scroll)="doSomethingOnScroll($event)" style="background-color: cornflowerblue;">-->
<!--<div (window:scroll)="doSomethingOnWindowScroll($event)" style="width: 700px; height:20px ;background-color: cornflowerblue;">-->
<div *ngIf="!dataLista.cargando;else mostrarCargando">
    <div *ngIf="dataLista.error==null;else mostrarError" (scroll)="cargarMas()" id="scroll" class="{{dataLista.tamanoLista}}">

        <ng-content>

        </ng-content>

    </div>
    <ng-template #mostrarError>
        <div class="listaScroll fondoLista">
            <h5>
                {{dataLista.error}}
            </h5>
            <button (click)="reintentar()">Reintentar</button>
        </div>
    </ng-template>
</div>
<ng-template #mostrarCargando>
    <div class="listaScroll fondoLista">
        <app-cargando> </app-cargando>
    </div>
</ng-template>