<div class="centrar login">    
    <div class="fondoTransparente">
        <div class="divCabecera">
            <div class="centrar escogerLeng txt-celeste regular letra-3-con-interlineado-2 enMayusculas">                
                {{ 'escogerIdioma' | translate | uppercase}}
            </div>
            <app-cabecera-idiomas (cambiarIdioma)="cambiarIdioma()"></app-cabecera-idiomas>
        </div>        
        <app-portada-gaze #portadaGazeComponent></app-portada-gaze>
        <div class="divContenido">
            <div class="divTres">
                    <p class="txt-blanco bold letra-5-con-interlineado-2 enMayusculas">{{ 'primeraVez' | translate }}</p>
                    <p class="enMayusculas letra-3-con-interlineado-2 regular txt-blanco">
                        {{ 'visiteSitio' | translate}}
                    </p>
            </div>
            <div *ngIf="botonCompartido" class="divBoton">
                <app-button class="centrar" [botonCompartido]='botonCompartido'></app-button>
            </div>
            <p class="centrarText divLetraLogin boldSombra enMayusculas letra-7-con-interlineado-4 txt-amarillo-base">
                {{'login' | translate }}
            </p>
            <form [formGroup]="loginForm">
                <div class="divLetraInput enMayusculas letra-4-con-interlineado-igual regularSombra txt-amarillo-base">
                    {{ 'email' | translate }}
                </div>
                <app-input [inputCompartido]='inputEmail'></app-input>
                <div class="div249"></div>
                <div class="divLetraInput enMayusculas letra-4-con-interlineado-igual regularSombra txt-amarillo-base">{{ 'contrasena' | translate }}</div>
                <app-input [inputCompartido]='inputContrasena'></app-input>
                <div class="div249"></div>
                <div class="textOlvideContrasena letra-2-con-interlineado-igual regular txt-blanco">{{ 'olvideContrasena' | translate }}</div>
                <div *ngIf="botonSubmit" class="div522">
                    <app-button class="centrar" [botonCompartido]='botonSubmit' type="submit"></app-button>
                </div>
            </form> 
            <app-pensamiento-compartido *ngIf="pensamientoCompartido" [pensamientoCompartido]='pensamientoCompartido'></app-pensamiento-compartido>           
        </div>
    </div>
</div>
<app-toast #toast [configuracion]='configuracionToast'></app-toast>
