<app-appbar #appbar [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
    <div class="portada">
        <app-item-circulo #portada [configuracion]="confPortada"></app-item-circulo>
        <p
            *ngIf="codigo && codigo !== codigosTipoPerfil.PLAYFUL"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'indicacionSubirFoto' | translate }}
        </p>
        <p
            *ngIf="codigo && codigo === codigosTipoPerfil.PLAYFUL"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'fotoAzar' | translate }}
        </p>
    </div>
    <div class="nombrePerfil">
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
            })"
        >
            {{ titulo }}
        </p>
    </div>
    <div class="divisorVerde">
        <app-linea #linea [configuracionLinea]="confLinea"></app-linea>
    </div>
    <div 
        class="indicaciones crear"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            ERASE PHOTO: LONG PRESS
        </p>
    </div>
    <div class="grilla">
        <app-item-circulo #botonUpload [configuracion]="confBotonUpload"></app-item-circulo>
        <div class="divisorVertical"></div>
        <!-- Item por defecto -->
        <div
            *ngFor="let item of itemsAlbumPorDefecto;let i = index"
            class="cajaItem"
        >
            <app-item-circulo
                *ngIf="itemsAlbum.length <= 0"
                [configuracion]="item"
            ></app-item-circulo>
            <div  *ngIf="validarDivisorGrilla(i) && itemsAlbum.length <= 0" class="divisorVertical"></div>
        </div>
        <div
            *ngIf="itemsAlbum.length <= 0"
            class="mensajeDeFotos"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL 
                })"
            >
                {{ 'reemplaceFotos' | translate }}
            </p>
        </div>
        <!-- Items del usuario -->
        <div
            *ngFor="let item of itemsAlbum;let i = index"
            class="cajaItem"
        >
            <app-item-circulo
                [configuracion]="item"
            ></app-item-circulo>
            <div  *ngIf="validarDivisorGrilla(i)" class="divisorVertical"></div>
        </div>
    </div>
</div>
<app-camara
    #camara
    [configuracion]="confCamara"
></app-camara>
<app-cropper
    #cropper
    [configuracion]="confCropper"
></app-cropper>
<app-toast #toast [configuracion]="confToast"></app-toast>

