@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";
@import "../../../assets/estilos/imagenes.scss";

.contenidoGeneral{
    width: $ancho-pagina;
    height: $cuerpo-general;
    overflow: hidden; 
}
.contenidoPensamientos{
    width: $ancho-pagina;    
    height: calc(#{$cuerpo-general} - #{$bottom-bar-alto});    
    background-color: white;
    box-sizing: border-box;    
    overflow: scroll; 
}
.padding267{
    padding: 0 $espacio-267 0 $espacio-267;
}
.div249{    
    height: $interlineado-4;
}
.div230Caracteres{
    padding: $interlineado-8 $espacio-267 $interlineado-8 $espacio-267;
}
.div1542{
    width: $espacio-1542;
    height: 12px;
    float: left;
}
