<div
    #fondo
    [ngClass]="{
        'modal': true,
        'mostrar': configuracion.mostrarDialogo
    }"
    (tap)="eventoModal($event.target)"
>
    <div #principal class="contenedorPrincipal">
        <div [ngSwitch]="configuracion.tipo">
            <div *ngSwitchCase="tipoDialogo.CONFIRMACION">
                <div #descripcion class="contenedorDescripcion">
                    <p class="letraDescripcion">{{ configuracion.descripcion }}</p>
                </div>
                <div class="contenedorBotonesConfirmacion">
                    <div *ngFor="let item of configuracion.listaAcciones">
                        <app-button [botonCompartido]="item"></app-button>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.MULTIPLE_ACCION">
                <div #descripcion class="contenedorDescripcion">
                    <p class="letraDescripcion">{{ configuracion.descripcion }}</p>
                </div>
                <div class="contenedorBotonesMultipleAccion" *ngFor="let item of configuracion.listaAcciones">
                    <app-button [botonCompartido]="item"></app-button>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.MULTIPLE_ACCION_HORIZONTAL">
                <div class="contenedorBotonesMultipleAccionHorizontal" *ngFor="let item of configuracion.listaAcciones">
                    <app-button [botonCompartido]="item"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>