<div
    id="{{ 'itemRectangularCanvas' + configuracion.idInterno }}"
    [ngClass]="itemMetodos.obtenerClasesParaItemRectangular(configuracion)"
    gestorEventos
    (eventoTap)="tap()"
    (dobleTap)="dobletap()"
    (press)="press()"
>
    <img
        [ngClass]="{
            'capa': true,
            'imagenFondo': true,
            'mostrar': !configuracion.mostrarLoader && configuracion.urlMedia.length > 0 
        }"
        [src]="configuracion.urlMedia"
        (load)="siImagenEstaCargada($event)"
    >
    <!-- Loader -->
    <div
        [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': configuracion.mostrarLoader
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <input
        #inputFile
        type="file"
        id="{{ 'itemRectangularInputFile' + configuracion.idInterno }}"
        class="hide"
        accept="image/*"
        (change)="cambioEnInputTipoFile($event.target.files)"
    />
    <p [ngClass]="itemMetodos.obtenerClasesTextoBoton(configuracion.mostrarBoton)">{{ configuracion.textoBoton }}</p>
    <!-- Esquinas -->
    <div *ngIf="esconderEsquinas; else presentar">
        <div 
        *ngFor="let item of bordesEsquinas; let i = index"
        [ngClass]="itemMetodos.esconderBoderEsquinas(i, configuracion.usoDelItem)"
        ></div>
    </div>
    <ng-template #presentar>
        <div 
        *ngFor="let item of bordesEsquinas; let i = index"
        [ngClass]="itemMetodos.obtenerClasesBordesEnLasEsquinas(i, configuracion.usoDelItem)"
        ></div>
    </ng-template>
    <!-- Capa Marco Seleccionada - ALBUMPREVIEW -->
    <div
        [ngClass]="itemMetodos.obtenerClasesCapaConBordeRojo(configuracion.mostrarCapaImagenSeleccionadaConBorde)"
    >
        <div class="cancelar">
            <div class="mensaje">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                >
                    {{ configuracion.textoCerrarEditarDescripcion }}
                </p>
            </div>
        </div>
    </div>
    <!-- Capa Preview con boton de expandir - ALBUMPREVIEW -->
    <div
        [ngClass]="itemMetodos.obtenerClasesCapaConIconoExpandir(configuracion.usoDelItem, configuracion.mostrarIconoExpandirFoto)"
    >
        <img src="../../../../assets/recursos/botones/forma-flecha-ampliar-foto.svg">
    </div>
    <!-- Capa opacidad a, b, c segun especificaciones -->
    <div [ngClass]="itemMetodos.obtenerClasesCapaOpacidad(configuracion.capaOpacidad)"></div>
</div>
<div
    [ngClass]="itemMetodos.obtenerClasesItemDescripcion(configuracion.usoDelItem)"
>
    <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.ITALIC,
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I4
        })"
    >
        {{ configuracion.descripcion }}
    </p>
    <div class="linea"></div>
</div>
<!-- Modal elegir opcion foto -->
<div
    [ngClass]="{
        'modalOrigenFoto': true,
        'mostrar': confModalOrigenFoto.mostrar
    }"
    gestorEventos
    (eventoTap)="cerrarModalOrigenFoto($event)"
>
    <div class="caja">
        <div
            class="opcion"
            gestorEventos
            (eventoTap)="eventoEnModalOrigenFoto(0)"
        >
            <img src="../../../../assets/recursos/fondos/fondo-camara-origen-foto.svg">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })"
            >
                Tomar foto
            </p>
        </div>
        <div
            class="opcion"
            gestorEventos
            (eventoTap)="eventoEnModalOrigenFoto(1)"
        >
            <img src="../../../../assets/recursos/fondos/fondo-galeria-origen-foto.svg">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })"
            >
                Subir foto
            </p>
        </div>
    </div>
</div>