<div *ngIf="divPensamiento!==undefined || divPensamiento!==null">
    <div class="{{divPensamiento}}">
        <div *ngIf="pensamientoCompartido && pensamientoCompartido.tituloPensamiento">
            <p  class="boldSombra letra-3-con-interlineado-igual txt-blanco">            
                {{pensamientoCompartido.tituloPensamiento}}  
            </p>
            <div class="div249">                    
            </div>
        </div> 
        <div  *ngIf="pensamientoCompartido" class="{{pensamientoCompartido.tipoPensamiento}} centrarHorizontal" >   
            <div *ngIf="pensamientoCompartido.subtitulo">
                <!--<p>{{ 'reflexionesPrivadas' | translate | uppercase}}</p>-->
                <!--<div class="divIndicacionesPensamientos">
                    <p class="boldSombra letra-3-con-interlineado-2 txt-amarillo-base centrarText">{{ 'reflexionesPublicas' | translate | uppercase}}</p>
                    
                    <div class="div316"></div>
                    <p class="bold letra-1-con-interlineado-2 centrarText">{{ 'actualizarReflexion' | translate | uppercase}}</p>
                    <p class="bold letra-1-con-interlineado-igual txt-rojo-base  centrarText">{{ 'cambiarEstadoReflexion' | translate | uppercase}}</p>                
                    <div class="div316"></div>
                </div> -->
                <ng-content>

                </ng-content>
            </div> 
            <app-lista-vertical *ngIf="pensamientoCompartido.esLista; else noLista" [dataLista]='dataLista'> 
                <div *ngFor='let pensamiento of dataLista.lista; let i=index'>
                    <app-item-pensamiento (press)="eventoClickLargo(i, pensamiento)"  [estilo]="pensamientoCompartido.configuracionItem.estilo" [configuracionItem]='configurarDatos(i,pensamiento)'></app-item-pensamiento>
                </div>         
            </app-lista-vertical>
            <ng-template #noLista>
                <app-item-pensamiento [estilo]="pensamientoCompartido.configuracionItem.estilo" [configuracionItem]='dataPensamiento'></app-item-pensamiento>
            </ng-template>
            <label  *ngIf="error" class="error italic txt-rojo-base divError centrarVerticalmente">{{error}}</label>
        </div>
    </div>
</div>
