@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';
@import '../../../../assets/estilos/imagenes.scss';

.div249{
    width: 100%;
    height: $interlineado-4;
}
.divPensamientoAleatorio{
    padding-bottom: $interlineado-10;    
    box-sizing: border-box;
    width: $ancho-pagina*0.6382;
}
.divPensamientoAmarillo{
    background-image: $forma-amarilla-pensamientos-login;    
    //border-image-source: $forma-amarilla-pensamientos-login;
    background-repeat: no-repeat;     
}
.divPensamientoPerfilImagen{
    background-image: $forma-amarilla-pensamientos-login;    
    background-repeat: no-repeat;    
    width: $ancho-pagina - ($interlineado-11*2);
    height: 250px;
    padding: ($interlineado-10 + $interlineado-8) $interlineado-7 ($interlineado-10 + $interlineado-8) $interlineado-7;    
    box-sizing: border-box;
}
.divFormasPensamientoAmarillo{  
    background-image: $forma-amarilla-pensamientos;    
    background-repeat: no-repeat;
}
.divFormasPensamientoRojo{
    background-image: $forma-roja-pensamientos;
    background-repeat: no-repeat;
}
.divFormasPensamiento{
    background-image: $forma-ambos-pensamientos;    
    background-repeat: no-repeat;
    height:13px;
}
.tamanoPensamientoAleatorio{
    width: 100%;
    min-height: calcular(41.43);
    height: fit-content;
    padding-top: $espacio-677;    
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-677 - $espacio-0249;  
    box-sizing: border-box;
}

.tamanoPensamiento{    
    height: calcular(131.8643);    
    padding: calcular(6.84) ($espacio-267 + $espacio-0658 + calcular(0.78)) (calcular(131.8643) - calcular(87.85) + calcular(6.84)) ($espacio-267 + calcular(0.78));   
    box-sizing: border-box;
}
.tamanoPensamientoPrivado{
    height: calcular(131.8643);    
    padding: calcular(6.84) ($espacio-267 + calcular(0.78)) (calcular(131.8643) - calcular(87.85) + calcular(6.84)) ($espacio-267 + calcular(0.78)+ $espacio-0658);
    box-sizing: border-box;
}
.divPensamientoFormaAmarilla{
    width: $ancho-pagina - $espacio-0658;       
    height: 100%;    
    padding: 0 0 0 $espacio-0658;
}
.divPensamientoFormaRoja{
    width: $ancho-pagina - $espacio-0658;       
    height: 100%;    
    padding: 0 $espacio-0658 0 0;
}
.divError{
    height: calcular(41.43)-($espacio-677*2)
}
