@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';

.div249{                                
    width: 100%;
    height: $interlineado-4;
}
.textPensamiento{
    width: 100%;
    padding-top: $espacio-0249;
    padding-bottom: $espacio-0249;
    min-height: calcular(41.43)-($espacio-677*2) - $letra-3 - $interlineado-6 -$interlineado-6;
    //($ancho-pagina*0.4143)-($espacio-677*2)- $letra-3 - $interlineado-6 -$interlineado-6;
    height: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}