<app-appbar [configuracion]="configuracionAppBar"> </app-appbar>
<app-portada-gaze #portadaGazeComponent></app-portada-gaze>

<app-lista-vertical [dataLista]='dataLista' class="centrar">

    <div *ngIf="listaMenu">
        <div *ngFor="let item of listaMenu">
            <app-item-menu [configuracionItem]="prepararItemMenu(item)"></app-item-menu>
        </div>
    </div>

    <app-item-menu *ngIf="itemSubMenu3Puntos" [configuracionItem]="prepararItemSubMenu(itemSubMenu3Puntos)">
    </app-item-menu>

    <app-item-menu *ngIf="itemMenuMultipleAccion"
        [configuracionItem]="prepararItemsParaMenuMultipleAccion(itemMenuMultipleAccion)"></app-item-menu>

</app-lista-vertical>

<app-toast #toast [configuracion]="configuracionToast">

</app-toast>