<app-appbar #appbar [configuracion]="confAppBar"></app-appbar>
<div
    [ngClass]="{
        'cuerpo': true,
        'albumPreview': (albumEnModoPreview && accionAlbum !== accionAlbumEnum.VISITA)
    }"
>
    <div
        *ngIf="!albumEnModoPreview"
        class="portada"
    >
        <app-item-rectangulo #portada [configuracion]="confPortada"></app-item-rectangulo>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'indicacionSubirFoto' | translate }}
        </p>
    </div>
    <div
        *ngIf="!albumEnModoPreview"
        class="nombrePerfil"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
            })"
        >
            {{ titulo }}
        </p>
    </div>
    <div
        *ngIf="!albumEnModoPreview"
        class="divisorVerde"
    >
        <app-linea #linea [configuracionLinea]="confLinea"></app-linea>
    </div>
    <div 
        *ngIf="accionAlbum === accionAlbumEnum.CREAR && !albumEnModoPreview"
        class="indicaciones crear"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'borrarFoto' | translate }}
        </p>
    </div>
    <div 
        *ngIf="accionAlbum === accionAlbumEnum.ACTUALIZAR && !albumEnModoPreview"
        class="indicaciones actualizar"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'clickCargar' | translate }}
        </p>
        <div class="espaciador-178"></div>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'borrarFoto' | translate }}
        </p>
    </div>
    <div 
        *ngIf="albumEnModoPreview"
        class="indicaciones albumpreview"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'clickDescripcionImagen' | translate }}
        </p>
        <div class="espaciador-154"></div>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'borrarFoto' | translate }}
        </p>
    </div>
    <div
        [ngClass]="{
            'grilla': true,
            'modoPreview': albumEnModoPreview
        }"
    >
        <app-item-rectangulo
            *ngIf="!albumEnModoPreview"
            #botonUpload
            [configuracion]="confBotonUpload"
        ></app-item-rectangulo>
        <div class="divisorVertical"></div>
        <!-- Item por defecto -->
        <div
            *ngFor="let item of itemsAlbumPorDefecto;let i = index"
            class="cajaItem"
        >
            <app-item-rectangulo
                *ngIf="itemsAlbum.length <= 0"
                [configuracion]="item"
            ></app-item-rectangulo>
            <div  *ngIf="validarDivisorGrilla(i) && itemsAlbum.length <= 0" class="divisorVertical"></div>
        </div>
        <div
            *ngIf="itemsAlbum.length <= 0"
            class="mensajeDeFotos"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL 
                })"
            >
                {{ 'reemplaceFotos' | translate }}
            </p>
        </div>
        <!-- Items del usuario -->
        <div
            *ngFor="let item of itemsAlbum;let i = index"
            class="cajaItem"
        >
            <app-item-rectangulo
                [configuracion]="item"
            ></app-item-rectangulo>
            <div  *ngIf="validarDivisorGrilla(i)" class="divisorVertical"></div>
        </div>
    </div>
</div>
<div 
    *ngIf="albumEnModoPreview"
    [ngClass]="{
        'barrainferior': true,
        'activa': (this.idItemActivo.length > 0)
    }"
>
    <div
        class="cajablanca"
    >
        <div class="icono">
            <img class="iconotexto" src="../../../assets/recursos/botones/forma-icono-editar-texto.svg">
        </div>
        <input type="text" maxlength="135" placeholder="105 characters maximum" [(ngModel)]="itemDescripcionActivo">
    </div>
    <div
        class="boton"
        gestorEventos
        (eventoTap)="actualizarDescripcion()"
    >
        <img src="../../../assets/recursos/botones/forma-flecha-circular-amarilla.svg">
    </div>
</div>
<app-camara
    #camara
    [configuracion]="confCamara"
></app-camara>
<app-toast #toast [configuracion]="confToast"></app-toast>