<div class="divGeneral tranparencia-base ">
    <app-appbar *ngIf="configuracionAppBar" [configuracion]="configuracionAppBar"></app-appbar>
    <!--*ngIf="perfilSeleccionado"-->
    <div>
        <div class="paddingTop316"></div>
        <div *ngIf="perfilSeleccionado" class="divTextNombreContact paddingBottom249">
            <p class="txt-blanco regular letra-2-con-interlineado-2">CLICK TO SEE INFO</p>
        </div>
        <div class="divFotos centrar">
            <div class="divItemMiFoto">
                <app-item-circulo
                    [configuracion]="configurarPortada('../../../../assets/recursos/fondos/cruz-negra-borrar.svg',fotoPerfil,generadorId.generarIdConSemilla(),{})">
                </app-item-circulo>
            </div>
            <app-portada-gaze #portadaGaze></app-portada-gaze>
            <app-item-rectangulo
                [configuracion]="configurarItemRectangular('../../../../assets/recursos/fondos/cruz-negra-borrar.svg',tipoItemRectangular,generadorId.generarIdConSemilla(),{},false)">
            </app-item-rectangulo>
        </div>
        <div class="divTextNombreContact paddingBottom522">
            <p *ngIf="perfilSeleccionado" class="txt-amarillo-base bold letra-3-con-interlineado-igual">
                {{perfilSeleccionado.nombre |uppercase}}</p>
        </div>
        <div *ngIf="perfilSeleccionado" class="divBotonContactos">
            <app-button class="centrar" [botonCompartido]='botonContactos'></app-button>
        </div>
        <div class="divTextNombreContact">
            <p class="txt-blanco bold letra-4-con-interlineado-2">CONTACTS INVITING ME</p>
            <p *ngIf="perfilSeleccionado" class="txt-blanco regular letra-2-con-interlineado-2">CLICK TO SEE INFO</p>
        </div>
        <div class="divInvitacionesContactos paddingBottom522">
            <div *ngFor="let contact of listaContactosItemCirdular; let i=index">
                <app-item-circulo gestorEventos (eventoTap)="seleccionarPerfil(i)" [configuracion]="contact">
                </app-item-circulo>
            </div>
        </div>
        <div class="divTextNombreContact">
            <p class="txt-blanco bold letra-4-con-interlineado-2">MY NEWS</p>
            <p *ngIf="perfilSeleccionado" class="txt-blanco regular letra-2-con-interlineado-2">CLICK TO SEE INFO</p>
        </div>
        <div class="divInvitacionesContactos paddingBottom522">
            <div *ngFor="let itemNoticia of listaNoticiasItenRectangular; let i=index">
                <div class="divFormaRectangulo">
                    <app-item-rectangulo [configuracion]="itemNoticia" [esconderEsquinas]='itemNoticia.esconderEsquina'></app-item-rectangulo>
                </div>
            </div>
        </div>
        <div class="divTextNombreContact">
            <p class="txt-blanco bold letra-4-con-interlineado-2">MY PROJECTS</p>
            <p *ngIf="perfilSeleccionado" class="txt-blanco regular letra-2-con-interlineado-2">CLICK TO SEE INFO</p>
        </div>
        <div class="divInvitacionesContactos paddingBottom522">
            <div *ngFor="let itemProyecto of listaProyectosItenRectangular; let i=index">
                <div class="divFormaRectangulo">
                    <app-item-rectangulo [configuracion]="itemProyecto" [esconderEsquinas]='itemProyecto.esconderEsquina'></app-item-rectangulo>
                </div>
            </div>
        </div>
        <div class="divTextNombreContact">
            <p class="txt-blanco bold letra-4-con-interlineado-2">MY TROUGHTS</p>
        </div>    
        <div class="divPensamientos">
            <app-pensamiento-compartido *ngIf="pensamientoCompartido" [pensamientoCompartido]='pensamientoCompartido' [dataLista]='dataListaPensamientos'></app-pensamiento-compartido>           
        </div>
    </div>
</div>