@import '../../../../assets/estilos/dimensiones.scss';

.divGeneral{
    width: $ancho-pagina;
    height: $altura-pagina;
    overflow-y: auto
}
.divFotos{
    padding: 0 $interlineado-7 0 $interlineado-7;
    width: $ancho-pagina;
//    display: flex;
//    flex-flow: row;
    box-sizing: border-box;
}
.divItemMiFoto{
    padding-bottom: $interlineado-9;
}
.divTextNombreContact{
    padding:0 $interlineado-7 0 $interlineado-11;
}
.divBotonContactos{
    padding:0 0 $interlineado-10 0;
}
.paddingBottom522{
    padding-bottom:$interlineado-10;
}
.divInvitacionesContactos{
    margin: $interlineado-4 0 0 $interlineado-7;
    display: flex;
    width: $ancho-pagina -$interlineado-7;  
    overflow: hidden; 
    box-sizing: border-box;
}
.divEspacio{    
    width: $interlineado-2;
    height: $interlineado-7;
}
.divFormaRectangulo{
    padding-right: calcular(0.71);
}
.divPensamientos{
    padding: $interlineado-4 $interlineado-11 $interlineado-10 $interlineado-11;
}
.paddingTop316{
    padding-top: $interlineado-8;
}
.paddingBottom249{
    padding-bottom: $interlineado-4;
}