<div *ngIf="barraInferior" [ngClass]="{
        'barrainferior': true,
        'activa':barraInferior.activarBarra
    }">
    <div class="cajablanca">
        <div *ngIf="!barraInferior.variosIconos; else mostrarIconos" class="cajablanca">
            <div class="icono">
                <img class="iconotexto" src="../../../../assets/recursos/botones/forma-icono-editar-texto.svg">
            </div>
            <form [formGroup]="dataForm">
                <input class="inputTexto" type={{barraInferior.input.tipo.toString()}}
                    attr.maxlength="{{barraInferior.input.maximo}}" placeholder="{{barraInferior.input.placeholder}}"
                    formControlName='texto'>                    
            </form>            
            <div *ngIf="barraInferior.presentarContador" class="divContador txt-rojo-base regular letra-1-con-interlineado-igual">{{dataForm.controls.texto.value.length}}/230</div>
        </div>        
        <ng-template #mostrarIconos>
            <div class="icono">
                <img class="iconotexto" src="../../../../assets/recursos/botones/forma-icono-editar-texto.svg">
            </div>
            <div class="icono">
                <img class="iconotexto" src="../../../../assets/recursos/botones/forma-icono-editar-texto.svg">
            </div>
            <form [formGroup]="dataForm">
                <input type={{barraInferior.input.tipo.toString()}} attr.maxlength="{{barraInferior.input.maximo}}"
                    placeholder="{{barraInferior.input.placeholder}}" formControlName='texto'>
            </form>
        </ng-template>
    </div>
    <div class="boton">
        <app-button [botonCompartido]="botonCompartido"></app-button>
    </div>
</div>