<div [ngClass]="{
        'wrapper-toast': configuracion.bloquearPantalla,
        'wrapper-toast-contenido':!configuracion.bloquearPantalla,    
        'mostrar': configuracion.mostrarToast
    }">
    <div [ngClass]="{
            'toast': true,
            'sombraCaja': true
        }">
        <div class="texto">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I3
                })">
                {{ configuracion.texto }}
            </p>
        </div>
        <div class="loader">
            <div *ngIf="configuracion.mostrarLoader" class="spinner"></div>
        </div>
    </div>
</div>