@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$espedor-borde-normal: calcular(0.71);
$diametro-item-normal: calcular(28.39);

$espedor-borde-grande: calcular(0.96);
$diametro-item-grande: calcular(38.53);

.itemCirculo {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;
    background: $blanco;
}

.itemCirculo.perfil {
    width: $diametro-item-normal;
    height: $diametro-item-normal;
    border: $espedor-borde-normal solid $rojo-base;
}

.itemCirculo.album {
    width: $diametro-item-grande;
    height: $diametro-item-grande;
    border: $espedor-borde-grande solid $rojo-base;
}

.itemCirculo.contato {

}

.itemCirculo .textoBoton {
    font-size: $letra-3;
    line-height: $letra-3;
    font-weight: bold;
    text-align: center;
    user-select: none;
}
.itemCirculo.album .textoBoton {
    font-size: $letra-4;
    line-height: $letra-4;
}

// Capas
.capa {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
}

.capa.mostrar {
    display: flex;
}

.itemCirculo.perfil .capa {
    width: $diametro-item-normal - ($espedor-borde-normal * 2);
    height: $diametro-item-normal - ($espedor-borde-normal * 2);
}

.itemCirculo.album .capa {
    width: $diametro-item-grande - ($espedor-borde-grande * 2);
    height: $diametro-item-grande - ($espedor-borde-grande * 2);
}

// Capa loader
.capa.loader {
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

// Capa imagen de fondo
.capa.imagenFondo {

}

// Capa Opacidad
.capa.opacidad {
    
}

$modal-origen-foto-ancho: $ancho-pagina;
$modal-origen-foto-alto: calcular(24);
$modal-origen-foto-opcion-alto: calcular(12);
$modal-origen-foto-opcion-caja-padding: calcular(4);
$modal-origen-foto-opcion-imagen-margin-der: calcular(3);

// Modal origen foto
.modalOrigenFoto {
    background: transparent;
    display: none;
    position: fixed;
    width: $modal-origen-foto-ancho;
    height: $altura-pagina;
    top: 0;
    left: 0;
    z-index: 300;    
}
.modalOrigenFoto.mostrar {
    display: flex;
    align-items: flex-end;
}
.modalOrigenFoto .caja {
    background: #ffffff;
    width: $modal-origen-foto-ancho;
    height: $modal-origen-foto-alto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.modalOrigenFoto .caja .opcion {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;

    padding: 0 $espacio-267;

    width: 100%;
    height: $modal-origen-foto-opcion-alto;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    cursor: pointer;

    &:hover {
        background: #eee;
    }

}
.modalOrigenFoto .caja .opcion img {
    height: 55%;
    margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
}
.modalOrigenFoto .caja .opcion p {
    font-weight: 500;
}