<div *ngIf="!botonCompartido.enProgreso; else elseBlock">
    <div [ngSwitch]="botonCompartido.tipoBoton">
        <div *ngSwitchCase="tipoBoton.TEXTO">
            <div #button (click)="execute()">
                <p>{{botonCompartido.text}}</p>
            </div>
        </div>
        <div *ngSwitchCase="tipoBoton.TEXTO_ICON">
            <div class="contenerBotonHorizontal">
                <div #descripcion class="contenedorDescripcion">
                    <p class="letraDescripcion">{{botonCompartido.text}}</p>
                </div>
                <div class="icono" (click)="execute()"></div>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <app-cargando></app-cargando>
</ng-template>