//@import "../../../../styles.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";
@import "../../../../assets/estilos/dimensiones.scss";

.buttonBase {
    background-size: cover;
    text-shadow: $sombraTexto;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: fit-content;
}
.icono {
    background-image: $forma-flecha-circular-amarilla;
    height: $espacio-1310;
    width: $espacio-1310;
    margin-left: $interlineado-2;
}
.iconoBoton {
    //forma-flecha-circular-amarilla
    background-image: $forma-flecha-circular-amarilla;
    height: $bottom-bar-boton-diametro;
    width: $bottom-bar-boton-diametro;
    background-size: 100% 100%;
}

.letraDescripcion {
    text-align: center;
    color: $azul-base;
}

.contenedorDescripcion {
    padding-top: $interlineado-2;
    padding-bottom: $interlineado-2;
    padding-left: $interlineado-6;
    padding-right: $interlineado-6;
    background-color: $input-fondo;
    border-radius: $interlineado-15;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $espacio-1232;
    width: $espacio-3418;
    font-size: $letra-3;
}

.botonLargo {
    background-image: $forma-boton-letra-5-51;
    padding-left: $espacio-0247;
    padding-right: $espacio-0296;
    padding-top: $espacio-0178;
    padding-bottom: $espacio-0249;
    box-sizing: border-box;
}

.botonCorto {
    //forma-boton-letra-5-51
    background-image: $forma-boton-yes-no;
    padding-left: $espacio-0247;
    padding-right: $espacio-0296;
    padding-top: $espacio-0249;
    padding-bottom: $espacio-0316;
    box-sizing: border-box;
    //height: $espacio-1116;
    //font-size: $letra-7;
}

.contenerBotonHorizontal {
    display: flex;
    justify-content: center;
}
